:root {
  --primary: #000000;
  --primary1: #1b1b1b;
  --text: rgb(0, 255, 4);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.black {
  color: #ffffff;
}
.white {
  color: #000000;
}

/* ---------------------------Header--------------------------- */

.header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  position: fixed;
  z-index: 99;
}
.header::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 100%;
  right: 0;
  background-color: #ffffff;
}
.header1::after {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 4px;
  width: 100%;
  right: 0;
  background-color: #000000;
}

.logo {
  font-size: 2.5rem;
  margin-left: 3rem;
  color: #ffffff;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.header nav {
  width: 35rem;
  margin-right: -30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.header nav a {
  color: #ffffff;
  font-size: 1.4rem;
  transition: 0.5s ease-in-out;
  position: relative;
}
.header nav a::before {
  content: "";
  position: absolute;
  background-color: var(--text);
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 0.5s ease-in-out;
  transform: scale(0);
}

.header nav a:hover {
  color: var(--text);
}
.header nav a:hover::before {
  transform: scale(100%);
}
.burger-menu {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  left: 6rem;
}

.burger-menu input {
  position: absolute;
  width: 62px;
  height: 43px;
  left: -7px;
  top: -2px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.burger-menu span {
  display: none;
  width: 24px;
  height: 2.5px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.5s;
}

.burger-menu span:nth-child(2) {
  transform-origin: 0 0;
}

.burger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

.burger-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

.burger-menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.burger-menu input:checked ~ span:nth-child(3) {
  scale: 0;
  opacity: 0;
}

.dark-white {
  margin-right: 5rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-white i {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

/* ---------------------------Home--------------------------- */

.home {
  height: 100vh;
  background-color: #000000;
  /* background-image: linear-gradient(
    to left top,
    #d9ff00,
    #ace00b,
    #82c111,
    #5ba213,
    #378411,
    #2c8310,
    #1d8310,
    #008211,
    #00a015,
    #00bf19,
    #00de1c,
    #00ff1f
  ); */
}

.home-main {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-main div h1 {
  color: #ffffff;
  font-size: 3.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home-main div h1 span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.home-main div h1 span span {
  color: var(--text);
}
.home-main div p {
  color: #ffffff;
  font-size: 1.2rem;
  text-indent: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.resume {
  margin-top: 1.5rem;
  width: 12rem;
  height: 2.5rem;
  background-color: #1b1b1b;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  border: 3px solid var(--text);
}
.resume a {
  color: var(--text);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.home-main img {
  width: 20rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgb(255, 115, 0);
  transition: 0.5s ease-in;
}
.home-main img:hover {
  scale: 104%;
}

/* ---------------------------About--------------------------- */

.about {
  height: 100vh;
  background-color: var(--primary1);
  flex-wrap: wrap;
}
.about h1 {
  width: 100%;
  height: 4rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.about-pic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-pic img {
  height: 8rem;
  margin: 1rem;
  border-radius: 4px;
}

.about-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -4rem;
}
.about-div div {
  background-color: #ffffff;
  width: 15rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  box-shadow: 2px 2px 5px 1px #000000;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}
.about-div div:hover {
  scale: 102%;
}
.about-div div div {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-div div div i {
  border-radius: 2px;
  font-size: 2rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.about-div div h3 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text);
  text-shadow: 1px 1px 1px #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.about-div div p {
  font-size: 1rem;
  text-align: center;
  margin: 1.8rem 10px 0 10px;
}

/* ---------------------------My Project--------------------------- */

.project {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}
.project-div {
  height: min-content;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.project h1 {
  width: 100%;
  height: 4rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.project-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 22rem;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 1px #000000;
}
.project-div div img {
  aspect-ratio: 2/1;
  object-fit: cover;
  margin-top: 2rem;
  width: 20rem;
}
.project-div div h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.tag {
  display: flex;
}
.tag h5 {
  width: auto;
  margin: 0.2rem;
  height: 1rem;
  background-color: #6dff6d62;
}
.project-div div p {
  text-align: center;
  height: 6rem;
  margin-bottom: 1rem;
}
.project-div div a {
  width: 6rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: -13rem;
  border: 2px solid black;
  border-radius: 4px;
  color: #000000;
  background-color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* ---------------------------Contact Me--------------------------- */

.contact {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
}
.contact div h1 {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.contact-form {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 30rem;
  height: auto;
  background-color: black;
}
.contact-name {
  margin-top: 2.5rem;
}
.contact-email {
  margin-top: 1rem;
}
.contact-name input,
.contact-email input {
  width: 25rem;
  height: 2.5rem;
  padding-left: 1rem;
  border: 2.5px solid var(--text);
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.contact-text textarea {
  width: 25rem;
  height: 8rem;
  border: 2.5px solid var(--text);
  border-radius: 4px;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.contact-form button {
  width: 6rem;
  height: 2.5rem;
  margin: 0.5rem 0 2.5rem 0;
  border: 2.5px solid var(--text);
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* ---------------------------Responsive--------------------------- */

@media screen and (max-width: 1024px) {
  /* Navbar */

  .header {
    height: 9rem;
  }
  .logo {
    font-size: 5rem;
  }
  .header nav {
    position: absolute;
    right: 0;
    flex-direction: column;
    background-color: var(--primary2);
    top: 10rem;
    margin-right: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 25rem;
    background-color: #0000008c;
    transform: translateX(100%);
    transition: all 1s;
  }
  .header nav a {
    font-size: 2.5rem;
  }
  .header .slide {
    transform: translateX(0);
  }
  .burger-menu {
    height: 40px;
    width: 40px;
    right: 8rem;
  }
  .burger-menu span {
    display: block;
    width: 48px;
    height: 5px;
  }
  .burger-menu span:nth-child(2) {
    transform-origin: 0 0;
  }

  .burger-menu span:nth-child(4) {
    transform-origin: 0 100%;
  }

  .burger-menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
    translate: 0px 1.2px;
  }

  .burger-menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
  }

  .burger-menu input:checked ~ span:nth-child(3) {
    scale: 0;
    opacity: 0;
  }
  .home-main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .home-main div {
    padding-left: 2rem;
  }
  .home-main div h1 {
    color: #ffffff;
    font-size: 5rem;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .home-main div h1 span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .home-main div h1 span span {
    color: var(--text);
  }
  .home-main div p {
    color: #ffffff;
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .home-main img {
    margin-top: 20rem;
    margin-bottom: -20rem;
    width: 40rem;
    border-radius: 50%;
  }
  .home-main div p br {
    display: none;
  }
  .resume {
    margin-top: 1.5rem;
    padding-right: 1.8rem;
    margin-left: 2rem;
    width: 16rem;
    height: 4.5rem;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--text);
  }
  .resume a {
    color: var(--text);
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  /* About */

  .about {
    height: 100vh;
    background-color: var(--primary1);
    flex-wrap: wrap;
  }
  .about h1 {
    width: 100%;
    height: 2rem;
    padding-top: 14rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .about-pic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-pic img {
    height: 12rem;
    margin: 1rem;
    border-radius: 4px;
  }

  .about-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -4rem;
  }
  .about-div h1 {
    margin-top: -7rem;
  }
  .about-div div {
    background-color: #ffffff;
    width: 20rem;
    height: 30rem;
    margin: 1rem;
    border-radius: 8px;
  }
  .about-div div div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-div div h3 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .about-div div p {
    font-size: 1.8rem;
    text-align: center;
    margin: 0.8rem 10px 0 10px;
  }

  /* My Project */

  .project {
    height: auto;
  }
  .project-div {
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .project h1 {
    width: 100%;
    height: 2rem;
    padding-top: 14rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44rem;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .project-div div img {
    margin-top: 2rem;
    width: 36rem;
    height: 20rem;
    border-radius: 2px;
  }
  .project-div div h2 {
    padding-top: 1rem;
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .tag h5 {
    width: auto;
    font-size: 1.6rem;
    text-align: center;
    height: 1.8rem;
    background-color: #00ff0062;
  }
  .project-div div p {
    height: 12rem;
    font-size: 2rem;
    text-align: center;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    margin: -0.1rem 0.5rem 1rem 0.5rem;
  }
  .project-div div a {
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: -25rem;
    color: #000000;
    background-color: var(--text);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  /* Contact Me */

  .contact {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1b1b1b;
  }
  .contact div h1 {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .contact-form {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 50rem;
    height: auto;
    background-color: black;
  }
  .contact-name {
    margin-top: 2.5rem;
  }
  .contact-email {
    margin-top: 1rem;
  }
  .contact-name input,
  .contact-email input {
    width: 45rem;
    height: 4.5rem;
    padding-left: 1rem;
    border: 2.5px solid var(--text);
    border-radius: 8px;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .contact-text textarea {
    width: 45rem;
    height: 14rem;
    border: 2.5px solid var(--text);
    border-radius: 8px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .contact-form button {
    width: 8rem;
    height: 3.5rem;
    margin: 1rem 0 2.5rem 0;
    border: 2.5px solid var(--text);
    border-radius: 12px;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
}
